@import 'src/styles/vars';
@import 'src/styles/mixins';

.homeIntro {
  padding: clamp(200px, 18vw, 300px) 0;
  background: url(#{$imagePath}light-bg.jpg) no-repeat center center;
  background-size: cover;
}

.darkBg {
  background: url(#{$imagePath}dark-bg.jpg) no-repeat center center;
  background-size: cover;
}

.title,
.subtitle,
.loading {
  max-width: 560px;
}

.titleSpan {
  font-size: 2rem;
  font-weight: 400;
}
