@import 'src/styles/vars';
@import 'src/styles/mixins';

.homeIntro {
  padding: 300px 0;
  background: url(#{$imagePath}light-bg.jpg) no-repeat center center;
  background-size: cover;

  @include breakpoint(568px) {
    padding: 120px 0;
  }
}

.darkBg {
  background: url(#{$imagePath}dark-bg.jpg) no-repeat center center;
  background-size: cover;
}

.title,
.subtitle,
.loading {
  max-width: 560px;
}

.titleSpan {
  font-size: 36px;
  font-weight: 400;
}
