{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["jsx-a11y", "prettier", "sort-class-members"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    // COMMON
    "no-sync": 0,
    "no-console": 0,
    "global-require": 0,
    "no-else-return": 0,
    "prefer-destructuring": 0,
    "class-methods-use-this": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-template-curly-in-string": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    // REACT
    "react/sort-comp": 0,
    "react/display-name": 0,
    "react/jsx-fragments": 0,
    "react/jsx-handler-names": 0,
    "react/react-in-jsx-scope": 0,
    "react/no-array-index-key": 0,
    "react/no-unused-prop-types": 0,
    "react/state-in-constructor": 0,
    "react/no-did-mount-set-state": 0,
    "react/jsx-props-no-spreading": 0,
    "react/no-did-update-set-state": 0,
    "react/destructuring-assignment": 0,
    "react/static-property-placement": 0,
    "react/prefer-stateless-function": 0,
    "react/no-access-state-in-setstate": 0,
    // JSX-A11Y
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "sort-class-members/sort-class-members": [
      2,
      {
        "accessorPairPositioning": "any",
        "order": [
          "propTypes",
          "defaultProps",
          "state",
          "fastState",
          "[static-properties]",
          "[static-methods]",
          "constructor",
          "[properties]",
          "[lifecycle]",
          "/^handle.+$/",
          "/^(get|set|update)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "[arrow-function-properties]",
          "[everything-else]",
          "/^render.+$/",
          "render"
        ],
        "groups": {
          "lifecycle": [
            "getDerivedStateFromProps",
            "componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "shouldComponentUpdate",
            "getSnapshotBeforeUpdate",
            "componentWillUpdate",
            "componentDidUpdate",
            "componentDidCatch",
            "componentWillUnmount"
          ]
        }
      }
    ],
    "no-extra-parens": [2, "functions"],
    // BEST PRACTICES
    "complexity": [2, 42],
    "no-useless-call": 2,
    // VARIABLES
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    // STYLISTIC ISSUES
    "linebreak-style": [0, "windows"],
    "newline-after-var": [1, "always"],
    "no-param-reassign": ["error", { "props": false }],
    "camelcase": [
      2,
      {
        "properties": "never",
        "allow": ["^UNSAFE_"]
      }
    ],
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "func-style": [
      2,
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "indent": "off",
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ],
    "max-nested-callbacks": [2, 4],
    "max-params": [2, 5],
    "no-unneeded-ternary": 2,
    "no-bitwise": 2,
    // NODE.JS
    "callback-return": 2,
    "no-mixed-requires": 2,
    "no-path-concat": 2,
    "handle-callback-err": 1,
    "react/sort-prop-types": [
      "warn",
      {
        "ignoreCase": true,
        "callbacksLast": true,
        "requiredFirst": true
      }
    ],
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "shorthandLast": false,
        "ignoreCase": true,
        "noSortAlphabetically": true,
        "reservedFirst": ["key", "ref"]
      }
    ],
    "react/prop-types": [
      2,
      {
        "ignore": ["dispatch"],
        "skipUndeclared": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "variables": false,
        "classes": true
      }
    ],
    // REACT
    "react/no-unsafe": [
      1,
      {
        "checkAliases": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/forbid-prop-types": [
      1,
      {
        "forbid": ["any"]
      }
    ],
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": [
      2,
      {
        "maximum": 1,
        "when": "multiline"
      }
    ],
    "react/jsx-closing-tag-location": 2,
    "react/no-danger": 1,
    "react/no-direct-mutation-state": 2,
    "react/no-string-refs": 1,
    // IMPORT
    "import/extensions": "off",
    "import/first": ["off", "absolute-first"],
    "import/no-cycle": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["^@"]
      }
    ]
  }
}
