@import 'src/styles/mixins';
@import 'src/styles/vars';

.title {
  margin-bottom: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 4rem;

  @include breakpoint($sm) {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.theme {
  border-radius: 30px;
  padding: 2rem 2.5rem 4rem;
  box-shadow: 0 0 58px rgb(0 0 0 / 5%);
  background: $athens-gray;

  &.darkMode {
    background: $mine-shaft;
  }
}
