@import 'src/styles/vars';
@import 'src/styles/mixins';

.box {
  padding: 2rem 0;
  border-radius: 20px;
  background-color: $athens-gray;
  box-shadow: 16px 16px 32px rgba($black, 0.15);

  &.darkMode {
    background-color: $mine-shaft;
  }
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}
