@import 'src/styles/mixins';
@import 'src/styles/vars';

.wrapper {
  padding: 1.4rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2rem;
  background-color: $shiraz;

  @include breakpoint($sm) {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.text {
  opacity: 0.6;
}

.icon {
  margin-bottom: 20px;
}
