@import 'src/styles/mixins';
@import 'src/styles/vars';

.header {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;

  @include breakpoint($md) {
    position: fixed;
    width: 0;
    height: 0;
    display: none;
    grid-template-rows: 79px 1fr 28px;
    background: rgba($black, 0.86);
    transform-origin: right top;
    transition: 0.3s ease;

    &.active {
      display: grid;
      width: 100%;
      min-height: 100vh;
    }
  }
}

.menuBtn {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 11000;
  display: none;
  width: 60px;
  height: 60px;
  padding: 18px 0;
  background: $black;
  cursor: pointer;

  @include breakpoint($md) {
    display: block;
  }

  .menuBtnLine {
    display: block;
    width: 50%;
    height: 3px;
    border-radius: 2px;
    background: $white;
    margin: 0 auto;

    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 9px;
    }
  }
}

.themeSwitcher {
  margin: 0 3rem;
}
