.vkLink {
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 55px;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 576px) {
    font-size: 23px;
  }
}
