@import 'vars';
@import 'mixins';

.lightColor {
  color: $white;
}

.lightBg {
  background: $white;
}

.darkBg {
  background: $black;
}

a,
button,
input,
textarea {
  &:focus {
    outline: 2px solid $shiraz;
  }
}
