@import 'vars';
@import 'mixins';

.lightColor {
  color: $white;
}

.lightBg {
  background: $white;
}

.darkBg {
  background: $black;
}

a,
button,
input,
textarea {
  &:focus {
    outline: 2px solid $shiraz;
  }
}

section,
.section {
  padding: 55px 0;

  @include breakpoint(768px) {
    padding: 40px 0;
  }
}
