// Colors
$black: #000000;
$shiraz: #b80929;
$gray: #8d97a4;
$white: #ffffff;
$athens-gray: #eff1f4;
$mine-shaft: #222222;

// Typography
$noto-sans: 'Noto Sans', 'Arial', sans-serif;
$montserrat: 'Montserrat', 'Noto Sans', 'Arial', sans-serif;

// Paths
$assetsPath: '~/src/assets/';
$imagePath: '#{$assetsPath}images/';
$iconPath: '#{$assetsPath}icons/';

// Breakpoints
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xsm: 576px;
