@import 'src/styles/vars';
@import 'src/styles/mixins';

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  &.menuConvert {
    @include breakpoint($sm) {
      justify-self: center;
      flex-direction: column;
      gap: 25px;
      margin-left: 0;
    }

    & > a {
      @include breakpoint($sm) {
        font-size: 3rem;
        letter-spacing: 5px;
        color: $white;
      }
    }
  }

  & > a {
    margin-right: 3rem;
  }
}

.toggle_mode_btn {
  background: transparent;
  border: none;

  @include breakpoint($sm) {
    max-width: 37px;
    justify-self: center;
  }
}

.svg {
  width: 27px;
  height: 27px;
  cursor: pointer;

  @include breakpoint($sm) {
    fill: $white;
  }

  &:hover {
    path {
      fill: $shiraz;
    }
  }
}

.moon,
.sun {
  transition: 0.5s ease;
}

.moon {
  &:hover {
    transform: rotate(40deg);
  }
}

.sun {
  &:hover {
    transform: rotate(360deg);
  }
}
