@import 'src/styles/vars';
@import 'src/styles/mixins';

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  &.menuConvert {
    @include breakpoint($sm) {
      justify-self: center;
      flex-direction: column;
      gap: 25px;
      margin-left: 0;
    }

    & > a {
      @include breakpoint($sm) {
        font-size: 3rem;
        letter-spacing: 5px;
        color: $white;
      }
    }
  }

  & > a:not(:last-child) {
    margin-right: 3rem;
  }
}