@import 'styles/vars';
@import 'styles/mixins';

.homeIntro {
  padding: 200px 0;
  background: url('/images/backgrounds/light-bg.jpg') no-repeat center center;
  background-size: cover; 

  @include breakpoint(568px) {
    padding: 120px 0;
  }
}

.darkBg {
  background: url('/images/backgrounds/dark-bg.jpg') no-repeat center center;
  background-size: cover; 
}

.title,
.subtitle,
.loading {
  max-width: 560px;
}

.titleSpan {
  font-size: 36px;
  font-weight: 400;
}

.socialList {
  display: flex;
  gap: 50px;
}

.socialLink {
  position: relative;
  font-family: $montserrat;
  font-size: 25px;
  font-weight: 600;

  @include breakpoint(568px) {
    font-size: 17px;
  }

  &:before {
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
    background: $shiraz;
    transition: width 0.4s;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}