@import 'src/styles/mixins';
@import 'src/styles/vars';

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 4rem;

  @include breakpoint($sm) {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
