@import "../../styles/vars";

.nav {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 77px;
    font-size: 18px;
    transition: 0.3s ease;

    &:hover {
      color: $shiraz;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.toggle_mode_btn {
  background: transparent;
  border: none;
}

.svg {
  width: 27px;
  height: 27px;
  cursor: pointer;

  &:hover  {
    path {
      fill: $shiraz;
    }
  }
}

.moon, .sun {
  transition: .5s ease;
}

.moon {
  &:hover {
    transform: rotate(40deg);
  }
}

.sun {
  &:hover {
    transform: rotate(360deg);
  }
}