@import 'src/styles/mixins';
@import 'src/styles/vars';

.title {
  font-size: 3.5rem;
}

.titleLight {
  color: $white;
}

.titleSmall {
  font-size: 1.6rem;
  font-weight: 400;
}

.title,
.titleSmall {
  margin: 0 0 30px;
  font-family: $montserrat;
  line-height: 1.2;
}
