@import 'src/styles/mixins';
@import 'src/styles/vars';

.title {
  font-size: 3rem;
  word-break: break-all;
}

.titleLight {
  color: $white;
}

.titleMiddle {
  font-size: 1.6rem;
}

.titleSmall {
  font-size: 1.2rem;
}

.titleMiddle,
.titleSmall {
  font-weight: 400;
}

.title,
.titleMiddle,
.titleSmall {
  margin: 0 0 30px;
  font-family: $montserrat;
  line-height: 1.2;
}
