@import 'vars';
@import 'mixins';

.lightColor {
  color: $white;
}

.lightBg {
  background: $white;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

a, button, input, textarea {
  &:focus {
    outline: 2px solid $shiraz;
  }
}

.title {
  font-size: 55px;
  font-family: $montserrat;
  font-weight: 600;
}

.subtitle {
  font-size: 22px;
  line-height: 1.5;
}