@import 'vars';
@import 'mixins';

.lightColor {
  color: $white;
}

.lightBg {
  background: $white;
}

.darkBg {
  background: $black;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

a,
button,
input,
textarea {
  &:focus {
    outline: 2px solid $shiraz;
  }
}

.title {
  font-size: 55px;
  font-weight: 600;

  @include breakpoint(658px) {
    font-size: 30px;
  }
}

.small-title {
  margin-bottom: 60px;
  font-size: 22px;
  font-weight: 400;
}

.title,
.small-title {
  font-family: $montserrat;
  line-height: 1.2;
}

.subtitle {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 1.9;
  color: $gray;

  @include breakpoint(658px) {
    font-size: 16px;
  }
}

.link {
  transition: 0.3s ease;

  &:hover {
    color: $shiraz;
  }
}

section,
.section {
  padding: 55px 0;

  @include breakpoint(768px) {
    padding: 40px 0;
  }
}
