@import 'vars';

.lightColor {
  color: $white;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

a, button, input, textarea {
  &:focus {
    outline: 2px solid $shiraz;
  }
}