@import '../../../styles/vars';
@import '../../../styles/mixins';

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  &.menuConvert {
    @include breakpoint(768px) {
      justify-self: center;
      flex-direction: column;
      gap: 25px;
      margin-left: 0;
    }

    & > * {
      @include breakpoint(768px) {
        font-size: 36px;
        letter-spacing: 5px;
        color: $white;
      }
    }
  }

  & > * {
    margin-right: 77px;
    font-size: 18px;

    @include breakpoint(1000px) {
      margin-right: 30px;
    }
  }
}

.toggle_mode_btn {
  background: transparent;
  border: none;

  @include breakpoint(768px) {
    max-width: 37px;
    justify-self: center;
  }
}

.svg {
  width: 27px;
  height: 27px;
  cursor: pointer;

  @include breakpoint(768px) {
    fill: $white;
  }

  &:hover {
    path {
      fill: $shiraz;
    }
  }
}

.moon,
.sun {
  transition: 0.5s ease;
}

.moon {
  &:hover {
    transform: rotate(40deg);
  }
}

.sun {
  &:hover {
    transform: rotate(360deg);
  }
}
