@import 'src/styles/vars';
@import 'src/styles/mixins';

.item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.subtitle {
  font-size: 0.8rem;
}

.box {
  padding: 0;
}

.feedbackWrapper {
  width: 100%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;

  @include breakpoint($sm) {
    flex-direction: column;
  }
}

.name {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.feedback {
  font-size: 1.2rem;
  line-height: 1.6;
}

.photo {
  width: 20%;

  @include breakpoint($sm) {
    width: auto;
  }
}

.content {
  width: 75%;
  padding: 1.5rem;

  @include breakpoint($sm) {
    width: 100%;
  }
}
